{{ "<!-- Twitter Section -->" | safeHTML }}
<section id="twitter" class={{ if .Site.Params.twitter.bg }} "bar background-gray no-mb"
	{{ else if .Site.Params.twitter.pattern }} "bar background-pentagon no-mb"
	{{ else if .Site.Params.twitter.photo1 }} "bar background-image-fixed-1"
	{{ else if .Site.Params.twitter.photo2 }} "bar background-image-fixed-2"
	{{ else }} "bar background-white no-mb" {{ end }}>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="heading text-center">
          <a href='{{ .Site.Params.twitter.feed_url }}'>
            <h2>{{ .Site.Params.twitter.title }}</h2>
          </a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<a class="twitter-timeline" data-height="600" data-theme="light" href="{{ .Site.Params.twitter.feed_url }}"></a>
				<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
			</div>
		</div>
	</div>
</section>
