{{ "<!-- Hero -->" | safeHTML }}
<header id="hero">
  <div class="overlay">
    <div class="container">
      <div class="intro-text">
        <div class="intro-heading heading"><h1 class="intro-heading heading">{{ with .Site.Params.hero.title }}{{ . | markdownify }}{{ end }}</h1></div>
        {{ if .Site.Params.hero.showButton }}
        <div class="intro-heading heading"><h3 class="intro-heading heading" style="border-bottom:none;font-size:4rem;">{{ with .Site.Params.hero.subtitle }}{{ . | markdownify }}{{ end }}</h3></div>
        <p class="text-center">
          <a href="{{ .Site.Params.hero.link }}" class="page-scroll btn btn-xl">{{ with .Site.Params.hero.buttonText }}{{ . }}{{ end }}</a>
        {{ end }}
        </p>
      </div>
    </div>
  </div>
</header>
