{{ if isset .Site.Params "sponsoring" }}
{{ if .Site.Params.sponsoring.enable }}
<style>
.box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}

.box-simple {
  min-height: 230px;
}

.bar.sponsoring-background {
  background: url("../img/bg_sponsoring.jpg") center top no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

</style>
<section class="bar sponsoring-background no-mb color-white text-center">
  <div class="dark-mask"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="text-uppercase">{{ .Site.Params.sponsoring.title }}</h3>
        <p class="lead">{{ .Site.Params.sponsoring.subtitle }}</p>
        <p class="text-center">
          <a href="{{ .Site.Params.sponsoring.link_url }}" class="btn btn-template-transparent-black btn-lg">{{ .Site.Params.sponsoring.link_text }}</a>
        </p>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}

